* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

header {
    background-color: thistle;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 25px;
}

header section {
    padding: 6px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

body {
    font-family: Helvetica;
    background-color: blanchedalmond;
    text-align: center;
}

table {
    border: 2px solid darkorchid;
    width: 800px;
    margin: 0 auto;
}

thead {
    background-color: thistle;
}

td {
    border-top: 1px solid darkorchid;
    padding: 1px 7px;
    line-height: 1.1;
}

h2 {
    margin-top: 30px;
    margin-bottom: 15px;  
}

.code {
    font-family: monospace;
    background-color: silver;
    font-size: 15px;
}